* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F9FA;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bg-light {
  background-color: #ffffff !important;
}

.navbar-brand > img {
  width: auto;
}

.row {
  height: -webkit-fill-available;
}

.col-11 {
  padding: 0;
}

.col-11 > .navbar {
  height: 72px;
}

.col-1 {
  background-color: gray;
  height: auto;
  padding: 0;
}

.nav-link > i {
  font-size: xx-large;
  color: #ffffff;
  padding-left: inherit;
}

.nav-link {
  padding: 20px;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  background-color: #000000;
}

.flex-column {
  text-align: center;
}

.box {
  border: 1px solid;
  padding: 0;
  margin-bottom: 3.5rem;
}

.avatar {
  border-radius: 50%;
  width: 50px;
}

TableRow:hover {
  background-color: gray;
}